@model List<ProductViewModal>;
@{
    ViewData["Title"] = "Home Page";
}
<h2 style="color: #7C4811">Книги</h2>
<div class="row">
@foreach (var product in Model)
{
   <div class="col-3 card shadow">
            <a asp-controller="Product" asp-action="Index" asp-route-productId="@product.Id" style="color: black; text-decoration:none">
            <div class="card-body pb-0">
                    <img src="@product.ImgPath" class="card-img-top" style="width: 150px; height: 225px;">
                    <p>@product.Name<br /><span class="small">@product.Author</span></p>
                    <p><b>@product.Cost руб.</b></p>
            </div>
         </a>
         <div class="card-footer row">
             @await Component.InvokeAsync("ButtonCart", product.Id)
             @await Component.InvokeAsync("ButtonFavorites", @product.Id)
         </div>

   </div> 
}
</div>
